body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
}
main {
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
    margin-bottom: 50px;
}
.titulo {
   display: flex;
   margin-top: 90px;
    margin-bottom: 40px; 
    align-items: center;
    flex-direction: column;
}
.organizacao{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 30px; 
    gap: 15px; 
    color: red;
}
.organizacao button{
    background-color: #e30614;
    color: white;
}
main h2{
    text-align: left; 
    margin-top: 30px;
    margin-bottom: 15px
}
.LivroContaner{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.Livro {
    width: 75px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estrela {
    width: 24px;
    height: 24px;
}
.remover{
    color: red;
}
.Retangulo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
    padding: 15px;
    background-color: #ccd3f8;
    width: 280px;
    height: 130px;
}
.lado{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
}
